<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhu.ireciteword">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TranslateActivity"/>
        <activity android:name=".ui.SentenceActivity" />

        <activity android:name=".ui.StudySettingActivity"/>
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.LockScreenWordsActivity" />
        <activity android:name=".ui.LearningSpeedActivity" />
        <activity android:name=".ui.WordBookActivity" />
        <activity android:name=".ui.HeaderActivity" />
        <activity android:name=".ui.Word_recite1"/>
        <activity android:name=".ui.Calendar"/>
        <activity android:name=".ui.Word_recite2"/>
        <activity android:name=".ui.Word_information"/>
        <activity android:name=".ui.Search_word"/>
        <activity android:name=".ui.Dakachallenge_back"/>
        <activity android:name=".ui.Challengeone_back"/>
        <activity android:name=".ui.Challengetwo_back"/>
        <activity android:name=".ui.Challengethree_back"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignActivity"/>
        <activity android:name=".EditActivity"/>
        <activity android:name=".AmendActivity"/>
        <activity android:name=".NoteMainActivity"/>
    </application>

</manifest>